{% extends 'base.html.twig' %}

{% block title %}Gestion des annonces - Alsannonces{% endblock %}

{% block body %}
    {% for annonce in app.user.annonces %}
		
        <h2>{{annonce.titre}}</h2>
        <h2>{{annonce.description}}</h2>
        <h2>{{annonce.prix}}</h2>
        <h2>{{annonce.ville}}</h2>
        <h2>{{annonce.categorie.nom}}</h2>
        <img class="img-fluid" style="max-width:300px" src="/uploads/photos/{{ annonce.photo }}">
        <h2>{{annonce.premium}}</h2>
        <a class="btn btn-warning" href="{{ path('modifierAnnonce', { id:annonce.id} )}}">Modifier</a>
        <a class="btn btn-danger" href="">Supprimer</a>
        
    {% endfor %}

{% endblock %}
