{% extends 'base.html.twig' %}

{% block title %}Modifier Annonce{% endblock %}

{% block body %}
	<div class="container mt-5">
		<h1>Modifier l'annonce</h1>
		{% include '/_partials/flash.html.twig' %}
	 	{{ form_start(annoncesForm) }}
			{{ form_row(annoncesForm.titre) }}
			{{ form_row(annoncesForm.description) }}
			{{ form_row(annoncesForm.prix) }}
			{{ form_row(annoncesForm.ville) }}
			{{ form_row(annoncesForm.categorie) }}
			{{ form_row(annoncesForm.images) }}
			{% if app.request.attributes.get('_route') == 'annonceModifier' %}
			  {% for image in annonce.images %}
				<div>
					<img class="img-fluid" style="max-width:200px" src="{{ asset('uploads/photos/' ~ image.name) }}">
					<a href="{{ path('imageSupprimer', {id: image.id}) }}" data-delete data-token="{{csrf_token('delete' ~ image.id) }}" class="btn btn-danger">Supprimer</a><br><br>
				</div>
			  {% endfor %}
			{% endif %}
			{{ form_row(annoncesForm.premium) }}
			<button type="submit" class="btn btn-warning mb-5">Valider</button>
		{{ form_end(annoncesForm) }}
	</div>
{% endblock %}
