{% extends 'base.html.twig' %}

{% block title %}Ajouter annonce{% endblock %}

{% block body %}
	
	<h1>Ajouter annonce</h1>
 {{ form_start(annoncesForm) }}
        {{ form_row(annoncesForm.titre) }}
        {{ form_row(annoncesForm.description) }}
        {{ form_row(annoncesForm.prix) }}
        {{ form_row(annoncesForm.ville) }}
        {{ form_row(annoncesForm.categorie) }}
        {{ form_row(annoncesForm.photo) }}
        {{ form_row(annoncesForm.premium) }}
         <button type="submit" class="btn">Valider</button>
{{ form_end(annoncesForm) }}
	
{% endblock %}
