{# AFFICHAGE ANNONCES SINGLE#}

{% extends "base.html.twig" %}

{% block title %}Annonce{% endblock %}

{% block body %}

	<div class="row mt-5">
		<div class="col-md-8">
		<h3> {{ annonce.titre }} </h3>
		<p class="lead"> {{ annonce.prix }}€</p>
		<p class="lead"> {{ annonce.description }}</p>
		 {% for image in annonce.images %}
			<img class="img-fluid" style="max-width:200px" src="{{ asset('uploads/photos/' ~ image.name) }}">
		{% endfor %}
	</div>
	<div class="col-md-4">
		<p class="lead"> Vendeur : {{ annonce.user.prenom }}</p> </br>
		<a href="" class="btn btn-info">Contacter le vendeur</a> </br></br>
		<a href="" class="btn btn-success mb-3">Faire une offre</a> <br>
		<a href="/membre/modifier-annonce-{{annonce.id}}" class="btn btn-warning">Modifier</a>
		<a href="" class="btn btn-danger">Supprimer</a>
	</div>
	
{% endblock %}