{# AFFICHAGE RECHERCHE ANNONCES #}

{% extends "base.html.twig" %}

{% block title %}Recherche - Alsannonces{% endblock %}

{% block body %}

	<form class="pull-right hidden mb-5 mt-5" role="search" id="searchForm" method="GET" action="">
        <div class="input-group">
			<select name="categorie">
			 {% for cat in cats %}
				 <option value="{{ cat.slug }}"> {{ cat.nom }}</option> 
			 {% endfor %}
			</select>
          <input type="text" class="form-control" placeholder="Search" name="search" value="{{ app.request.query.get('search') }}">
			<input type="hidden" value="0" name="saveSearch" id="saveSearch">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Valider</button>
			  <span class="btn btn-warning" id="saveSearchBtn">Enregistrer la recherche</span>
          </span>
        </div>
      </form>
	
	
		{% for annonce in res %}
			<div class="row mb-3">
				<div class="col-md-4">
					<img class="img-fluid" style="max-width:300px" src="{{ asset(annonce.image) }}">
				</div>
				<div class="col-md-8">
					<a href="{{ path('annonceSingle', {id: annonce.id}) }}"><p class="lead">{{ annonce.titre }}</p></a>
					<p class="lead">{{ annonce.prix }}</p>
					<p class="lead">{{ annonce.ville }}</p>
				</div>
			
			</div>
		{% endfor %}
	
	
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	
	<script>
		$(document).ready(function($){
			$('#saveSearchBtn').on("click", function(){
                $('#saveSearch').val(1);
				$('#searchForm').submit();
            });

        });

	</script>
	
{% endblock %}